.login-div {
  display: flex;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .login-right {
    flex-shrink: 0;
    font-size: 0.5em;
  }
}

.login-div > * {
  flex-basis: 100%;
}

.login-left {
  height: 100vh;
  background: transparent linear-gradient(180deg, #f4f5fc 0%, #dee2f5 100%) 0%
    0% no-repeat padding-box;
}

.login-circle-img {
  top: 300px;
  left: 302px;
}

.login-img {
  top: 300px;
  left: 302px;
  width: 480px;
  height: 480px;
}

.login-image-text {
  bottom: 0;
  left: 15%;
  font: normal normal bold 20px/27px Nunito;
  color: gray;
  position: fixed;
}

.login_page-logos > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 50%;
  position: absolute;
  box-shadow: 8px 8px 3px #c3c5e8;
}

.login_page-logo-0 {
  top: 47px;
  left: 99px;
  width: 167px;
  height: 167px;
}
.login_page-logo-1 {
  top: 81px;
  left: 431px;
  width: 191px;
  height: 191px;
}
.login_page-logo-2 {
  top: 69px;
left: 757px;
width: 211px;
height: 211px;
}
.login_page-logo-3 {
  top: 349px;
left: 856px;
width: 185px;
height: 185px;
}

.login_page-logo-4 {
top: 611px;
left: 835px;
width: 158px;
height: 158px;
}
.login_page-logo-5 {
top: 757px;
left: 615px;
width: 165px;
height: 165px;
}
.login_page-logo-6 {
  top: 842px;
left: 860px;
width: 196px;
height: 196px;
}
.login_page-logo-7 {
  top: 302px;
left: 149px;
width: 153px;
height: 150px;
}
.login_page-logo-8 {
  top: 529px;
left: 73px;
width: 165px;
height: 165px;
}
.login_page-logo-9 {
  top: 843px;
left: 49px;
width: 184px;
height: 184px;
}
