.Topbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(0.5em + 40px);
  background-color: white;
  padding-bottom: 9px;
  z-index: 999;
}

.topbar-elements {
  height: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-logo {
  background-repeat: no-repeat;
  padding: 5px;
  margin-left: 10px;
  /* width: 35px; */
  width: 69px;
  height: 69px;

  cursor: pointer;
  opacity: 1;
}

.topbar-right {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 3px 15px 00px 30px;
  /* background: var(--unnamed-color-706fa7) 0% 0% no-repeat padding-box; */
  background: #706fa7 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  opacity: 1;
}

.topbar-icon {
  position: relative;
  /* width: 25px; */
  padding-right: 20px;
  width: 30px;
  height: 27px;
  color: #FFFFFF;
  margin-right: 12px;
  cursor: pointer;
}

.topbar-badge {
  /* Position */
  top: -60%;
  right: 12%;
  position: absolute;
  text-align: center;
  width: 23px;
  height: 27px;
  /* UI */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35%;
  font: normal normal normal 17px/28px Roboto;
  letter-spacing: 0.01px;
  color: #ffffff;
  background: #a9abd3 0% 0% no-repeat padding-box;
  opacity: 1;
}

.topbar-noti {
  height: 100%;
  width: 100%;
}

.topbar-dropdown {
  height: 100%;
  width: 30px;
}

.topbar-pfp {
  cursor: pointer;
  margin-right: 10px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
}

.topbar-menu {
  text-align: center;
  position: absolute;
  right: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  margin-right: 20px;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 10px;
  opacity: 1;
  font: normal normal normal 16px/22px Nunito;
}

.topbar-role {
  color: gray;
  right: 0px;
}

.topbar-name {
  left: 0px;
}

.topbar-menu>li {
  padding: 5px;
  margin: 0;
  list-style-type: none;
}

.topbar-button,
topbar-button:focus {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}