.sidebar {
  flex: 0;
  height: 100vh;
  width: 72px;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.sidebarWrapper {
  color: #6C7383;
  fill: #6C7383;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 15px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.sidebarListItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center  ;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #706fa7;
  stroke: #706fa7;
  fill: #fff;
  color: #fff
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}

.sidebarList > a {
  text-decoration: none;
  color: inherit;
}
